name: Test GitHub Actions

on:
  push:
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - name: Run pre-commit
        id: pre-commit
        uses: ./
